# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Playwright
playwright-report/
test-results/

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# TypeScript (ya no se usa)
*.tsbuildinfo
tsconfig.json

# Next.js (por si acaso)
.next
out
build
next-env.d.ts
